<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyApp</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/2FA">Two Factor Auth</a>
        </li>
        <!-- Only for admin -->
        <li class="nav-item" *ngIf="(role$ | async) === 'admin'">
          <a class="nav-link" routerLink="signup">Regiter User</a>
        </li>

        <li class="nav-item" *ngIf="(role$ | async) === 'admin'">
          <a class="nav-link" routerLink="user">Users</a>
        </li>

        <li class="nav-item profile-icon">
          <a class="nav-link" routerLink="profile">
            <i class="fa-regular fa-circle-user"></i>
          </a>
        </li>

        <li class="nav-item">
          <button (click)="handleLogout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>