<div class="reset-container">
  <div class="reset-card">
    <div class="reset-content">
      <h1>Reset Password</h1>
      <p>Please enter your new password below</p>

      <form (ngSubmit)="onReset()" [formGroup]="resetForm">
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="New Password" />
           <div class="error" *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid">
            <div *ngIf="resetForm.get('password')?.errors?.['required']">Password is required</div>
            <div *ngIf="!resetForm.get('password')?.errors?.['identityPassword']?.minLength">Minimum 6 characters
              required</div>
            <div *ngIf="!resetForm.get('password')?.errors?.['identityPassword']?.hasUpperCase">At least 1 uppercase
              letter required</div>
            <div *ngIf="!resetForm.get('password')?.errors?.['identityPassword']?.hasLowerCase">At least 1 lowercase
              letter required</div>
            <div *ngIf="!resetForm.get('password')?.errors?.['identityPassword']?.hasNumber">At least 1 number required
            </div>
            <div *ngIf="!resetForm.get('password')?.errors?.['identityPassword']?.hasSpecialChar">At least 1 special
              character required</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
          <div class="error"
            *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid">
            Confirm Password is required
          </div>
          <div class="error"
            *ngIf="resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.touched">
            Passwords do not match
          </div>
        </div>

        <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
      </form>

      <div class="back-login">
        <a routerLink="/login">Back to Login</a>
      </div>
    </div>
  </div>
</div>

